{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

    <img src="{{!image}}!wechatsmall" class="wechat-only">
            <header id="header" class="home-header blog-background banner-mask lazy {{#if
            image}}" style="background-image:url({{image}}){{else}}"
                    style="background-image:url({{@blog.cover}})" {{/if}} >
    <div class="nav-header">
        <div class="nav-header-container">
            <a href="{{@blog.url}}" class="back-home">回到博客主页</a>
        </div>

    </div>
    <div class="header-wrap">
        <div class="post-info-container">
            <h2 class="post-page-title ">
                {{title}}
            </h2>
            <time class="post-page-time">{{date format="DD MMMM YYYY"}}</time>
            <span class="post-page-author">{{#author}}{{name}}{{/author}}</span>
            <span class="post-page-tags">
                {{tags prefix="" separator=" "}}
            </span>
        </div>

    </div>
    <div class="arrow_down">
        <a href="javascript:;"></a>
    </div>
    </header>


    <main class="content" id="main" role="main">

        <article class="{{post_class}}">

            <section class="post-content">
                <div class="single-post-inner">
                    {{content}}
                    <div class="tag-box">
                        {{tags prefix="" separator=" "}}
                        <!--</div>-->
                        <!--<div class="money-like" id="like-money">-->
                        <!--<div class="reward-button">赏-->
                        <!--<span class="money-code">-->
                        <!--<span class="alipay-code">-->
                        <!--<a href="javascript:;">-->
                        <!--<img data-url="{{!asset "images/qr-alipay-256.png"}}" class="alipay-img" src="data:image/gif;base64,UklGRkoAAABXRUJQVlA4WAoAAAAQAAAAAAAAAAAAQUxQSAsAAAABBxAREYiI/gcAAABWUDggGAAAADABAJ0BKgEAAQABABwlpAADcAD+/gbQAA=="><b>支付宝扫码打赏</b>-->
                        <!--</a>-->
                        <!--</span>-->
                        <!--<span class="wechat-code">-->
                        <!--<img data-url="{{!asset "images/qr-wechat-256.png"}}" class="wechat-img" src="data:image/gif;base64,UklGRkoAAABXRUJQVlA4WAoAAAAQAAAAAAAAAAAAQUxQSAsAAAABBxAREYiI/gcAAABWUDggGAAAADABAJ0BKgEAAQABABwlpAADcAD+/gbQAA=="><b>微信打赏</b>-->
                        <!--</span>-->
                        <!--</span>-->

                        <!--</div>-->
                        <!--<p class="money-notice">若你觉得我的文章对你有帮助,欢迎点击上方按钮对我打赏</p>-->
                        <!--</div>-->
                        <!--<div class="qr-code">-->
                        <!--<img src="https://encrypt.proxy.is26.com/qr?content={{!url absolute="true"}}" alt="">-->
                        <!--<p>扫描二维码,分享此文章</p>-->
                    </div>
                </div>
            </section>



            {{#author}}
                <section class="author">
                    {{#if image}}
                        <figure class="author-image">
                            <a class="img" href="javascript:;" style="background-image: url('{{image}}')"><span
                                    class="hide">{{name}}'s Picture</span></a>
                        </figure>
                    {{/if}}

                    <section class="author-detail">
                        <a href="javascript:;">{{name}}</a>
                        {{#if bio}}
                            <p>{{bio}}</p>
                        {{else}}
                            <!--<p> 更多文章请点击<a href="{{!url}}">这里</a> </p>-->
                        {{/if}}
                        <div class="author-meta">
                            {{#if location}}
                                <span class="author-location">{{location}}</span>
                            {{/if}}
                            {{#if website}}
                                <span class="author-link"><a href="{{website}}">{{website}}</a></span>
                            {{/if}}
                        </div>

                    </section>
                </section>
            {{/author}}


        </article>

        <section class="share">
            <div class="social-share"
                 data-douban-url= '{{url absolute='true'}}'
                 data-twitter-url ='{{url absolute='true'}}'
                 data-disabled="google, tencent, diandian, qq"
                 data-wechat-qrcode-title="微信扫一扫"
                 data-wechatQrcodeHelper = '<p>微信里点“发现”，扫一下</p><p>二维码便可将本文分享至朋友圈。</p>'
                 data-image = '{{image}}'
                 data-source = '{{url absolute='true'}}'
                 data-description = 'TeamArtizan -- All-in-One Digital Solution for modern recruitment'

            >

            </div>

        </section>

        <aside class="read-next">
            {{#next_post}}
                <a class="read-next-story {{#if image}} lazy"
                        data-url="{{image}}" style="background-image: url(){{else}}no-cover{{/if}}" href="{{url}}">
                    <section class="post">
                        <h2>{{title}}</h2>
                        <p>{{excerpt words="6"}}&hellip;</p>
                    </section>
                </a>
            {{/next_post}}
            {{#prev_post}}
                <a class="read-next-story prev {{#if image}} lazy"
                        data-url="{{image}}" style="background-image: url(){{else}}no-cover{{/if}}" href="{{url}}">
                    <section class="post">
                        <h2>{{title}}</h2>
                        <p>{{excerpt words="6"}}&hellip;</p>
                    </section>
                </a>
            {{/prev_post}}
        </aside>

        <section class="comment-area yasuko-only">
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
                var duoshuoQuery = {short_name:"blogteamartizan"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                    || document.getElementsByTagName('body')[0]).appendChild(ds);
                    console.log(ds);
                })();
            </script>
            <!-- 多说公共JS代码 end -->
            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="{{slug}}" data-title="{{title}}" data-url="{{url absolute='true'}}"></div>
            <!-- 多说评论框 end -->


        </section>

    </main>
    <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/jquery.share.min.js" integrity="sha256-nCwJPo/BlMrOEv6xcPNpC3yFUEztrqxIBSPR5Yq/puY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/social-share.min.js" integrity="sha256-fGPu+icKh985TLPhO2v68U7i0CW0dE4kiR06RN4O6jo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css" integrity="sha256-0EDwznjUTDEicOuZhOL03fpflUqzhkByvhwol8YGkp4=" crossorigin="anonymous" />


{{/post}}
